/* line 23, ../../compass/sass/styles.scss */
.navbar {
  background-color: #f8f8f8;
}

/* line 27, ../../compass/sass/styles.scss */
.form-control {
  height: 60px;
}

/* line 32, ../../compass/sass/styles.scss */
#logo {
  height: 60px;
}
